.user_list.list
  span.glyphicon.glyphicon-search(aria-hidden='true')
  input#search(type='text', placeholder='typing search user here...')
.table_title
  span.tables
    | Name
  span.tables
    | Age
  span.tables
    | Country
  span.tables
    | Activity
#list