.user_list.list
  span.glyphicon.glyphicon-search(aria-hidden='true')
  input#search(type='text', placeholder='typing search user here...')
.table_title
  span.tables
    | Name
    span(class="caret no_numerical" name='name')
  span.tables
    | Age
    span(class="caret numerical" name='age')
  span.tables
    | Country
    span(class="caret no_numerical" name='country')
  span.tables
    | Member
  span.tables
    | Activity
    span(class="caret numerical" name='activity')
#list
