.title_of_user_test_list.user_test_name
  | Test name
.title_of_user_test_list.test_passed
  | Passed
.title_of_user_test_list.user_test_result
  | Result
.test_list_conteinar
.load_more
  | Load more (

  .close_bracket
    | )
  .load_more_value