// body
//   font-family: 'Courgette', sans-serif
//   background-color: #fff

// h1, h2, h3, h3, h5, h6
//   font-family: 'Courgette', sans-serif
//   // font-weight: bold

// h1
//   text-align: center

// .list-group-item
//   .check
//     margin-right: 10px

//   .check
//     cursor: pointer

//   .text
//     color: #333333
//     cursor: pointer
//     &:active
//       color: #333333
//     &:hover
//       color: #333333
//       text-decoration: none

//     &.checked
//       text-decoration: line-through

//   &.active
//     .text
//       font-size: 20px

// .module-box > div.blank
//   background-color: #f0f0f0
//   border: 2px dashed #e0e0e0
//   margin-bottom: 20px
//   border-radius(5px)
//   text-align: center
//   .btn
//     margin: 10px

// .footer
//   margin-top: 3em
//   text-align: center


// =========
// #3278b3
n = 0px 100px 20px 100px //mixin
// margin (n)

html,
body,
ul,
ol,
#title>h3
  margin 0
  padding 0


a, a:hover, a:active
  color inherit

body
  background-color #F7F7F9
  font-family 'ChalkboardSE-Regular', sans-serif
  min-width 1200px

@font-face
  font-family ChalkboardSE-Regular
  src url(ChalkboardS.ttf)

@mixin
  border-radius($radius)
    -webkit-border-radius $radius
    -moz-border-radius $radius
    -ms-border-radius $radius
    border-radius $radius

#title
  text-align center
  margin 20px 100px 0px 100px
  padding 17px
  font-family 'Courgette', cursive

.answer_it
  font-size 40px

.button
  cursor pointer
  height 40px
  width 278px
  border 1px solid hsl(192, 67%, 46%)
  color hsl(192, 67%, 46%)
  text-align center
  line-height 38px
  font-size 17px
  transition-delay 1s
  transition all 200ms linear
  &:hover
    color white
    background-color hsl(192, 67%, 46%)
    transition-delay 1s
    transition all 200ms linear

.containar
  float left
  background-color rgba(255, 255, 255, 0.47)
  padding 0px 20px
  box-shadow 0px 0px 5px 2px rgba(0, 0, 0, 0.11)

.content
  width 582px
  margin 0px 20px
  padding 0px 30px 30px 30px
  background-color rgba(255, 255, 255, 0.47)
  box-shadow 0px 0px 5px 2px rgba(0, 0, 0, 0.11)

input#name,
input#age,
input#country
  float right
  width 200px
  height 35px
  border-bottom 1px solid

textarea:focus,
input:focus
  outline 0

input
  border none
  &:focus
    border none
  &.edit_input
    background-color aliceblue
    width 100px

p
  font-size 17px
  margin 20px 0px
  line-height 2
  &.list
    font-size 17px
    margin 10px 0px
    line-height 2
    float left
    width 25%
    padding-left 10px
    &.delete
      width 23%

input[type=text]
  color #333333
  font-size 17px
  padding 0px 7px
  width 300px
  background-color inherit
  display block
  font-family 'ChalkboardSE-Regular', sans-serif

input.answer
  border-bottom 1px solid rgba(51,51,48,0.14)
  margin 15px
  width 85%
  float left

textarea#answer
  width: 93%;
  height: 185px;
  margin 15px
  float left
  border none
  background-color #FBFBFC
  resize none
  font-family 'ChalkboardSE-Regular', sans-serif
  color #969696

input#answer
    width 82%
    margin 10px auto

.tables
  width 25%
  padding 15px
  padding-left 10px
  display inline-block

.user_list
  &.none
    padding 10px
    text-align center

.list
  &.delete
    border 1px solid rgb(223, 23, 23)
    text-align center
    color rgb(223, 23, 23)
    padding-left 0px
    cursor pointer
    transition-delay 1s
    transition all 200ms linear
    &:hover
      background-color rgb(223, 23, 23)
      color white

  #users_l
    width 200px
    float left
  .user_list
    &.list
      width 522px
      height 67px

.hr
  border-top 1px solid rgba(51, 51, 48, 0.14)

.hrs
  margin-top 0px
  border-top 1px solid rgba(51, 51, 48, 0.14)

#list
  min-height 196px
  max-height 576px
  overflow auto
  position relative
  width 100%
  &::-webkit-scrollbar
    -webkit-appearance none
    width 4px
  &::-webkit-scrollbar-thumb
    border-radius 10px
    background-color rgb(249, 228, 228)
.empty_message
  top: 0
  left: 0
  right: 0
  margin: auto
  bottom: 0
  position: absolute
  width: 123px
  height: 20px
  height: 24px;
  font-size: 17px;
li
  &.naba
    cursor pointer
    float left
    list-style-type none
    text-align center
    // width 32%
    width 245px
    line-height 40px
    &:hover
      -webkit-box-shadow inset 0px 0px 37px 0px rgba(0, 0, 0, 0.11)
      -moz-box-shadow inset 0px 0px 37px 0px rgba(0, 0, 0, 0.11)
      box-shadow inset 0px 0px 37px 0px rgba(0, 0, 0, 0.11)
  &.naba.active
    -webkit-box-shadow inset 0px 0px 37px 0px rgba(0, 0, 0, 0.11)
    -moz-box-shadow inset 0px 0px 37px 0px rgba(0, 0, 0, 0.11)
    box-shadow inset 0px 0px 37px 0px rgba(0, 0, 0, 0.11)

#nav
  text-align center
  margin: 20px 86px 20px 85px;
  background-color rgba(255, 255, 255, 0.47)
  height 40px
  box-shadow 0px 0px 5px 2px rgba(0, 0, 0, 0.11)
  display block

.user_item_view
  height 56px
  border-bottom 1px solid rgba(51, 51, 48, 0.14)

.main_block
  margin 20px 100px 100px 100px
  position relative
  min-height 310px

.inner_resize
  position relative
  height inherit
  width 100%
  min-height 270px

.test_create_form
  width 140px
  height 50px
  text-align center
  position absolute
  padding 15px
  top 0
  bottom 0
  left 0
  right 0
  margin auto
  background-color rgba(255, 255, 255, 0.47)
  box-shadow 0px 0px 5px 2px rgba(0, 0, 0, 0.11)
  cursor pointer
  &.resize
    width 100%
    height 100%
    -webkit-transition width 500ms ease-in-out, height 500ms ease-in-out
    -moz-transition width 500ms ease-in-out, height 500ms ease-in-out
    -o-transition width 500ms ease-in-out, height 500ms ease-in-out
    transition width 500ms ease-in-out, height 500ms ease-in-out
    cursor default

.test_add_button
  float right
  width 120px
  padding 10px
  cursor pointer
  box-shadow 0px 5px 10px 2px rgba(0, 0, 0, 0.11)
  display none
  background-color hsla(128, 100%, 73%, 0.52)
  text-align center

.test_remove_button
  float right
  width 148px
  padding 10px
  cursor pointer
  box-shadow 0px 5px 10px 2px rgba(0, 0, 0, 0.11)
  display none
  background-color indianred
  text-align center
  margin-left 20px

.test_add_button.active, .test_remove_button.active
  display block

.inner_new_question
  width 100%
  min-height 305px
  overflow hidden
  background-color rgba(255, 255, 255, 0.47)
  box-shadow 0px 0px 5px 2px rgba(0, 0, 0, 0.11)
  padding-bottom 30px

.new_test_question
  padding-top 50px
  margin 0px 100px 20px 100px


.question_counter
  text-align center
  padding 20px
  font-size 17px
  font-family 'Courgette', cursive

.user_list.list
  border-bottom 1px solid rgba(51,51,48,0.14)

.content_inner_block
  margin 0px 100px 20px 100px

#answer_region
    float left
    width 100%

.glyphicon
  float left
  top 5px !important
  margin-left 12px

.glyphicon.glyphicon-ok, .glyphicon.glyphicon-remove
  color #ABA9A9
  margin-top 17px

.glyphicon.glyphicon-ok
  cursor pointer

.glyphicon
  &.glyphicon-plus
    color #ABA9AD
    cursor pointer
    float right
    margin 13px 43px

.glyphicon-plus:hover
    color rgba(80, 226, 100, 0.52)

.glyphicon.glyphicon-remove
  opacity 0.5

.glyphicon.glyphicon-remove.color
  opacity 1
  cursor pointer
  &:hover
    color rgb(205, 92, 92)


.glyphicon.glyphicon-ok:hover
  color rgba(80, 226, 100, 0.52)

.glyphicon.glyphicon-ok.color_correct
  color rgba(54, 195, 73, 0.6)

.table_title
  display block
  border-bottom 1px solid rgba(51,51,48,0.14)

.main_conteinar
  margin n

.test_remove_button.active
  margin-bottom 50px

.test_attribute
  display none

input#test_name
    width 100%
    padding-left 16px
    padding-right 20px

.description
    float left
    height 100%
    width 67.3%
    border-right 1px solid #E0E0E0
    padding-right 15px

.category
  float right
  width 30%
  li
    list-style-type none
    font-family 'ChalkboardSE-Regular', sans-serif
    border-bottom 1px solid rgba(51,51,48,0.14)
    cursor: pointer
    text-align left
    padding-left 6px
    padding-bottom 3px
    &:hover
      -webkit-box-shadow inset 0px 0px 37px 0px rgba(0, 0, 0, 0.11)
      -moz-box-shadow inset 0px 0px 37px 0px rgba(0, 0, 0, 0.11)
      box-shadow inset 0px 0px 37px 0px rgba(0, 0, 0, 0.11)

.left_cat_region
  float left
  border-right 1px solid rgba(51,51,48,0.14)
  width 44.7%
  overflow: scroll;
  max-height: 203px;

.right_sub_region
  width 55.3%
  float right

input.cat
  float left
  font-weight normal
  font-size 15px
  height 100%

input.cat:nth-of-type(1)
  border-right 1px solid rgba(51,51,48,0.14)
  width 95px

input.cat:nth-of-type(2)
  width 116px

.add_cat_sub
  border-bottom 1px solid rgba(51,51,48,0.14)
  height 30px

.category_conteinar
  .active
    -webkit-box-shadow inset 0px 0px 37px 0px rgba(0, 0, 0, 0.11)
    -moz-box-shadow inset 0px 0px 37px 0px rgba(0, 0, 0, 0.11)
    box-shadow inset 0px 0px 37px 0px rgba(0, 0, 0, 0.11)

.sub_category_item
  &.active
    -webkit-box-shadow inset 0px 0px 37px 0px rgba(0, 0, 0, 0.11)
    -moz-box-shadow inset 0px 0px 37px 0px rgba(0, 0, 0, 0.11)
    box-shadow inset 0px 0px 37px 0px rgba(0, 0, 0, 0.11)
