
n = 0px 100px 20px 100px
$font-stack = 'ChalkboardSE-Regular', sans-serif
$font-title = 'Courgette', cursive
$shadow = inset 0px 0px 37px 0px rgba(0, 0, 0, 0.11)
$border = 1px solid rgba(51,51,48,0.14)
// mixin

html,
body,
ul,
ol,
#title>h3
  margin 0
  padding 0

a, a:hover, a:active
  color inherit

body
  background-color #F7F7F9
  font-family $font-stack
  min-width 1200px

@font-face
  font-family Courgette
  src url(Courgette.ttf)

@font-face
  font-family ChalkboardSE-Regular
  src url(ChalkboardS.ttf)


@mixin
  border-radius($radius)
    -webkit-border-radius $radius
    -moz-border-radius $radius
    -ms-border-radius $radius
    border-radius $radius

#title
  text-align center
  margin 20px 100px 0px 100px
  padding 17px
  font-family $font-title

.answer_it
  font-size 40px

.button
  cursor pointer
  height 40px
  width 278px
  border 1px solid hsl(192, 67%, 46%)
  color hsl(192, 67%, 46%)
  text-align center
  line-height 38px
  font-size 17px
  transition-delay 1s
  transition all 200ms linear
  &:hover
    color white
    background-color hsl(192, 67%, 46%)
    transition-delay 1s
    transition all 200ms linear

.containar
  float left
  background-color rgba(255, 255, 255, 0.47)
  padding 0px 20px
  box-shadow 0px 0px 5px 2px rgba(0, 0, 0, 0.11)

.content
  width 582px
  margin 0px 20px
  padding 0px 30px 30px 30px
  background-color rgba(255, 255, 255, 0.47)
  box-shadow 0px 0px 5px 2px rgba(0, 0, 0, 0.11)

input#name,
input#age,
input#country
  float right
  width 200px
  height 35px
  border-bottom 1px solid

textarea:focus,
input:focus
  outline 0

input
  border none
  &:focus
    border none
  &.edit_input
    background-color aliceblue
    width 100px

p
  font-size 17px
  margin 20px 0px
  line-height 2
  &.list
    font-size 17px
    margin 10px 0px
    line-height 2
    float left
    width 25%
    padding-left 10px
    &.delete
      width 23%

input[type=text]
  color #333333
  font-size 17px
  padding 0px 7px
  width 300px
  background-color inherit
  display block
  font-family $font-stack

input.answer
  border-bottom $border
  margin 15px
  width 85%
  float left

textarea#answer
  width: 93%;
  height: 164px;
  margin 8px 15px 15px
  float left
  border none
  background-color #FBFBFC
  resize none
  font-family $font-stack
  color #969696

input#answer
    width 82%
    margin 10px auto

.tables
  width 25%
  padding 15px
  padding-left 10px
  display inline-block

.user_list
  &.none
    padding 10px
    text-align center

.list
  &.delete
    border 1px solid rgb(223, 23, 23)
    text-align center
    color rgb(223, 23, 23)
    padding-left 0px
    cursor pointer
    transition-delay 1s
    transition all 200ms linear
    &:hover
      background-color rgb(223, 23, 23)
      color white

  #users_l
    width 200px
    float left
  .user_list
    &.list
      width 522px
      height 67px

.hr
  border-top 1px solid rgba(51, 51, 48, 0.14)

.hrs
  margin-top 0px
  border-top 1px solid rgba(51, 51, 48, 0.14)

.empty_message
  top: 0
  left: 0
  right: 0
  margin: auto
  bottom: 0
  position: absolute
  width: 123px
  height: 20px
  height: 24px;
  font-size: 17px;
li
  &.naba
    cursor pointer
    float left
    list-style-type none
    text-align center
    width 245px
    line-height 40px
    &:hover
      -webkit-box-shadow $shadow
      -moz-box-shadow $shadow
      box-shadow $shadow
  &.naba.navigator_active
    -webkit-box-shadow $shadow
    -moz-box-shadow $shadow
    box-shadow $shadow

#nav
  text-align center
  margin: 20px 86px 20px 85px;
  background-color rgba(255, 255, 255, 0.47)
  height 40px
  box-shadow 0px 0px 5px 2px rgba(0, 0, 0, 0.11)
  display block

.user_item_view
  height 56px
  border-bottom 1px solid rgba(51, 51, 48, 0.14)

.main_block
  margin 20px 100px 100px 100px
  position relative
  min-height 310px

.inner_resize
  position relative
  height inherit
  width 100%
  min-height 270px

.test_create_form
  width 140px
  height 50px
  text-align center
  position absolute
  padding 15px
  top 0
  bottom 0
  left 0
  right 0
  margin auto
  background-color rgba(255, 255, 255, 0.47)
  box-shadow 0px 0px 5px 2px rgba(0, 0, 0, 0.11)
  cursor pointer
  &.resize
    width 100%
    height 100%
    -webkit-transition width 500ms ease-in-out, height 500ms ease-in-out
    -moz-transition width 500ms ease-in-out, height 500ms ease-in-out
    -o-transition width 500ms ease-in-out, height 500ms ease-in-out
    transition width 500ms ease-in-out, height 500ms ease-in-out
    cursor default

.test_add_button
  float right
  width 120px
  padding 10px
  cursor pointer
  box-shadow 0px 5px 10px 2px rgba(0, 0, 0, 0.11)
  display none
  background-color hsla(128, 100%, 73%, 0.52)
  text-align center

.test_remove_button
  float right
  width 148px
  padding 10px
  cursor pointer
  box-shadow 0px 5px 10px 2px rgba(0, 0, 0, 0.11)
  display none
  background-color indianred
  text-align center
  margin-left 20px

.test_add_button.active, .test_remove_button.active
  display block

.inner_new_question
  width 100%
  min-height 305px
  overflow hidden
  background-color rgba(255, 255, 255, 0.47)
  box-shadow 0px 0px 5px 2px rgba(0, 0, 0, 0.11)
  padding-bottom 30px

.new_test_question
  padding-top 50px
  margin 0px 100px 20px 100px


.question_counter
  text-align center
  padding 20px
  font-size 17px
  font-family $font-title

#answer_region
    float left
    width 100%

.glyphicon
  float left
  top 5px !important
  margin-left 12px

.glyphicon.glyphicon-ok, .glyphicon.glyphicon-remove
  color #ABA9A9
  margin-top 17px
  transition-delay 0.5s
  transition all 100ms linear

.glyphicon.glyphicon-ok
  cursor pointer

.glyphicon
  &.glyphicon-plus
    color #ABA9AD
    cursor pointer
    float right
    margin 13px 43px
    transition-delay 0.5s
    transition all 100ms linear

.glyphicon-plus:hover
    color rgba(80, 226, 100, 0.52)
    transition-delay 0.5s
    transition all 100ms linear

.glyphicon.glyphicon-remove
  opacity 0.5

.glyphicon.glyphicon-remove.color
  opacity 1
  cursor pointer
  &:hover
    color rgb(205, 92, 92)
    transition-delay 0.5s
    transition all 100ms linear


.glyphicon.glyphicon-ok:hover
  transition-delay 0.5s
  transition all 100ms linear
  color rgba(80, 226, 100, 0.52)

.glyphicon.glyphicon-ok.color_correct
  color rgba(54, 195, 73, 0.6)

.table_title
  display block
  border-bottom $border

.main_conteinar
  margin n

.test_remove_button.active
  margin-bottom 50px

.test_attribute
  display none

input#test_name
    width 100%
    padding-left 70px
    padding-right 20px

.description
    float left
    height 100%
    width 67.3%
    border-right 1px solid #E0E0E0
    padding-right 15px

.category
  float right
  width 30%
  li
    list-style-type none
    font-family $font-stack
    border-bottom $border
    cursor: pointer
    text-align left
    padding-left 6px
    padding-bottom 3px
    transition-delay 1s
    transition all 100ms linear
    &:hover
      -webkit-box-shadow $shadow
      -moz-box-shadow $shadow
      box-shadow $shadow
      transition-delay 1s
      transition all 100ms linear

.left_cat_region
  float left
  border-right $border
  width 44.8%
  overflow: scroll;
  max-height: 203px;

.right_sub_region
  width 55.2%
  float right

input.cat
  float left
  font-weight normal
  font-size 15px
  height 100%

input.cat:nth-of-type(1)
  border-right $border
  width 95px

input.cat:nth-of-type(2)
  width 116px

.add_cat_sub
  border-bottom $border
  height 30px

.category_conteinar
  .choose
    -webkit-box-shadow $shadow
    -moz-box-shadow $shadow
    box-shadow $shadow

.sub_category_item
  &.choose
    -webkit-box-shadow $shadow
    -moz-box-shadow $shadow
    box-shadow $shadow

.sub_category_empty
  font-family $font-stack

.sub_category_empty
  padding 50% 0%
  color darkgrey

.tag
  float left
  font-family $font-stack
  font-size smaller
  background-color khaki
  border-radius 15px
  margin-right 10px

.category_specify
  padding-left 15%
  margin-top 6px
  height 17px
