$border = 1px solid rgba(51,51,48,0.14)
$font-stack = 'ChalkboardSE-Regular', sans-serif
$shadow = inset 0px 0px 37px 0px rgba(0, 0, 0, 0.11)

@font-face
  font-family ChalkboardSE-Regular
  src url(ChalkboardS.ttf)

.content_inner_block
  margin 0px 100px 20px 100px

.table_title
  border-bottom $border

.user_list.list
  border-bottom $border

.tables
  width 20%
  padding 15px
  padding-left 10px
  display inline-block

#list
  min-height 196px
  max-height 576px
  overflow auto
  position relative
  width 100%
  &::-webkit-scrollbar
    -webkit-appearance none
    width 4px
  &::-webkit-scrollbar-thumb
    border-radius 10px
    background-color #DCDCDD

.u_list
  float left
  font-family $font-stack
  width 20%
  padding 10px
  border-bottom 1px solid rgba(51, 51, 48, 0.14)

.user_member
  width 25%

.user_activity
  width 15%
  padding-left 33px
  text-align left

.u_list_block
  height 41px
  cursor pointer
  &:hover
    width 100%
    height 41px
    -webkit-box-shadow $shadow
    -moz-box-shadow $shadow
    box-shadow $shadow

.u_list_block.showed
  -webkit-box-shadow $shadow
  -moz-box-shadow $shadow
  box-shadow $shadow

.user_item_view
  height 41px

.user_test_data
  float left
  width 100%
  height 210px
  display none
  border-bottom 1px solid rgba(51, 51, 48, 0.14)

canvas.pie-chart-area
  float left
  margin 15px 15px 10px

.test_list_region
  width 79%
  float right
  height 210px
  padding 13px 20px 0px 0px

.inner_slice
  float left

.user_test_list_item
  float left
  width 100%
  height 23px
  border-bottom 1px solid #DCDCDD
  font-family $font-stack

.inner_slice.user_test_name
  width 55.5%
  text-align left

.inner_slice.user_data_passed
  width 30%
  text-align left

.inner_slice.user_result
  float right
  width 10.7%
  text-align: left
  &:after
    content ' %'

.color_green
  color rgba(54,195,73,0.6)

.color_yellow
  color #FFC870

.color_red
  color #cd5c5c

.title_of_user_test_list
  float left
  color #CFCFD0
  text-align left

.title_of_user_test_list.user_test_name
  width 56%

.title_of_user_test_list.test_passed
  width 33.5%

.title_of_user_test_list.user_test_result
  width 10.5%

.excellent
.good
.not_good
  display block
  border-radius 50%
  height 10px
  width 10px
  float left
  margin 4px 5px 0px 18px

.excellent
  background-color rgba(54,195,73,0.6)

.good
  background-color #FFC870

.not_good
  background-color #cd5c5c

.excellent_mark
.good_mark
.bad_mark
  float left
  font-size 12px
  width 13%
  text-align left

.load_more
  display none
  float right
  font-family $font-stack
  cursor pointer
  margin-top 6px
  color #B8B8B9
  &:hover
    color rgb(51, 51, 51)

.load_more_value
  float right

.close_bracket
  float right

.caret
  margin 10px 5px
  cursor pointer
