$border = 1px solid rgba(51,51,48,0.14)

.content_inner_block
  margin 0px 100px 20px 100px

.table_title
  border-bottom $border

.user_list.list
  border-bottom $border

#list
  min-height 196px
  max-height 576px
  overflow auto
  position relative
  width 100%
  &::-webkit-scrollbar
    -webkit-appearance none
    width 4px
  &::-webkit-scrollbar-thumb
    border-radius 10px
    background-color rgb(249, 228, 228)