.current_test_conteinar
  .test_name_start= test_name
  .cat_and_sub_block
    .test_category_start= test_category
    .test_subcategory_start= test_subcategory
  .test_description_start= test_description
  .questions_content_region