doctype html
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(charset='utf-8')
    title Answer It
    meta(name='viewport', content='width=device-width')

    //- link(href='http://fonts.googleapis.com/css?family=Raleway:400,700', rel='stylesheet', type='text/css')
    //- link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", rel="stylesheet")
    //- link(href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css')

    link(rel="icon" type="image/x-icon" href="images/favicon.ico")
    link(rel='stylesheet', href='./css/vendor.css', type='text/css')
    link(rel='stylesheet', href='./css/main.css', type='text/css')
    script(src="./js/vendor.js")
    script(src="./js/index.js")

  body
    .container
        #title
          h1 Answer it
          #nav
            ul
              a(href='#test_create')
                li#test_create.naba
                  | Test Create
              a(href='#test_list')
                li.naba
                  | Test List
              a(href='#user_list')
                li#user_list.naba
                  | User List
          #app
