.inner_new_question
  .question_counter
    | Question #
    span.question_number= question_number
    .question_text
      input#answer(type="text" name='answer' value='' + question_save + '' placeholder="Your Question...", autofocus)
    #answer_region
    .add_answer.glyphicon.glyphicon-plus(aria-hidden='true')
.test_remove_button.active
  | Remove Question
.test_add_button
  | Add Question