input.answer(type="text" name='answer' value='' + answer_save + '' placeholder="" + answer_number + ". Your first answer here...", autofocus)
.glyphicon.glyphicon-ok(aria-hidden='true')
.remove_answer.glyphicon.glyphicon-remove(aria-hidden='true')

