.main_test_top
  .test_name_choose
  .test_description
  a.test_link(href='')
    .start_this_test
      | Start test
  hr.end_line
.user_list.list.main_test
  span.glyphicon.test.glyphicon-search(aria-hidden='true')
  input#search.test_search(type='text', placeholder='typing search test here...')
.table_title_test
  span.tables_test
    | Test name
    span(class="caret no_numerical" name='test_name')
  span.tables_test.cat
    | Subcategory
    span(class="caret no_numerical" name='subcategory')
.middle_content